<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="center">
      <h1>Your Existing Rentals</h1>
    </div>
  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-badge>
<ion-tab-button tab="tab4">
    <ion-icon name="create"></ion-icon>
    <ion-label>Create Rentals</ion-label>
  </ion-tab-button>
</ion-badge>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-card>
       <ion-card-title>
          <img id="lisbonphoto"src="{{user1.rentalphoto1}}" style="width: 25%; height: 75%; margin: 15px">
       </ion-card-title>
       <ion-card-content>
         <ion-button (click)="gorentdtls()">
         <h2>{{user1.rental1}}</h2>
         </ion-button>
      </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
