<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="center">
        <h1>Create Rentals</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

  </ion-card>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input [(ngModel)]="property.name"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>Address</ion-label>
            <ion-input [(ngModel)]="property.address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Location</ion-label>
            <ion-input [(ngModel)]="property.location" placeholder="City,Country"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Price Per Night</ion-label>
            <ion-input [(ngModel)]="property.pricePerNight"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Property Description:</ion-label>
            <ion-input [(ngModel)]="property.description"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Listing Image URL</ion-label>
            <ion-input [(ngModel)]="property.imageURL"></ion-input>
          </ion-item>
      </div>

      
      <ion-button expand="block" (click)="Button()">Create</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>