<ion-header>
  <ion-toolbar>
    <ion-title>
        <div class="center">
            <h1>Rentals</h1>
          </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content>
        <ion-card *ngFor="let booking of bookings" >
       

        
          <ion-card-title>
            <h1>{{booking.name}}</h1>
            Booked From : ({{booking.dateFrom}})
            To : ({{booking.dateTo}})
            
          </ion-card-title>
      
        </ion-card>
      
      </ion-content>

