
<ion-header>
  <ion-toolbar>
    <div>
      <ion-buttons>
        <ion-back-button defaultHref=""  Logout></ion-back-button>
      </ion-buttons>
    </div>
    <ion-title>
      <div class="center">
        <h1>Profile</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <div class="ion-padding">
    <ion-avatar class="avatar">
      <img id="imgSection"
        src="{{provider.profilephoto}}" />
    </ion-avatar>
  </div>
  
  <div class="center" >
    <ion-badge color=light>
      <h1>{{provider.name}}</h1>
      -"Hi, I'm {{provider.name}}!"
    </ion-badge>
  </div>
  
  <div>


    <ion-card>
      <h3>About</h3>
      <h6>
        <ion-icon name="home"></ion-icon> Lives in {{provider.livesin}}
      </h6>
      <h6>
        <ion-icon name="logo-facebook"></ion-icon> {{provider.facebook}}
      </h6>
      <h6>
        <ion-icon name="star"></ion-icon> Joined on {{provider.today}}
      </h6>
    </ion-card>
    <ion-card>
      <h3>{{provider.name}} Provided</h3>
      <h6>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Email: {{provider.email}}<ion-icon name="checkmark-circle-outline">
        </ion-icon> Phone Number: {{provider.phonenumber}}
      </h6>
    </ion-card>
    <ion-card>
      <h3>3 Reviews</h3>
      <h6>From Guests: (3)</h6>
      <b>June 2018</b> : Very good homeowner. Cleaned up around the house well. Didn. . .
    </ion-card>
  </div>
  
</ion-content>

