<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/tabs/tab5" ></ion-back-button>
          </ion-buttons>
      <ion-title><div class="center"><h1>Rental Details: Lisbon, Portugal</h1></div></ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content>
      <ion-content>
          <ion-list>
            <ion-item>
              <ion-card>
               <ion-card-title>
                  <img id="Lisbon"src="{{user1.rentalphoto1}}" style="width: 50%; height: 55%; margin: 15px">
               </ion-card-title>
               
              </ion-card>
            </ion-item>
          </ion-list>
        
        </ion-content>
        
  
  </ion-content>