<ion-grid>
  <ion-buttons>
      <ion-back-button defaultHref="" ></ion-back-button>
    </ion-buttons>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Create Your Provider Profile</h4>
      </div>

     

      <div class="ion-padding">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="provider.name"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="provider.email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input [(ngModel)]="provider.password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Where do you live?</ion-label>
          <ion-input [(ngModel)]="provider.livesin"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input [(ngModel)]="provider.phonenumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Facebook</ion-label>
          <ion-input [(ngModel)]="provider.facebook"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Today's Date?</ion-label>
          <ion-input [(ngModel)]="provider.today" placeholder= "MM/DD/YYY"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Profile Photo URL</ion-label>
          <ion-input [(ngModel)]="provider.profilephoto"></ion-input>
        </ion-item>
    </div>

    
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- ///////////////////////////////////////////////////// -->